{
  "ambient_light": {
    "X": 0,
    "Y": 0,
    "Z": 0
  },
  "default_player_rig": "reusable_weapons/anims/reusable-weapons/player/player.merged_spine_rig#output",
  "default_post_processing": {
    "bloom": {
      "bloom_amount": 0.0000000447034836
    },
    "color_grade": {
      "color_filter": {
        "X": 1,
        "Y": 1,
        "Z": 1
      },
      "contrast": 2
    },
    "film_grain": {
      "strength": 0.8000000119209290,
      "noise_scale": 0.1000000014901161
    }
  }
}