{
  "default_player_rig": "reusable_weapons/anims/reusable-weapons/player/player.merged_spine_rig#output",
  "auto_generate_mips": false,
  "default_post_processing": {
    "bloom": {
      "bloom_amount": 0.0000000447034836
    },
    "color_grade": {
      "color_filter": {
        "X": 0.8999999761581421,
        "Y": 0.8999999761581421,
        "Z": 0.8999999761581421
      },
      "saturation": 1,
      "contrast": 1.0199999809265137
    },
    "chromatic_aberration": {
      "offsets": {
        "X": 0.2500000000000000,
        "Y": 0.1000000014901161,
        "Z": 0.3000000119209290
      }
    },
    "film_grain": {
      "strength": 0.8000000119209290,
      "noise_scale": 0.1000000014901161
    }
  }
}